<section data-ng-controller="RfqsController">
    <div class="page-header">
        <h1>New RFQ</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" name="rfqForm" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <label class="control-label requiredStar" for="nickname">Nickname</label>
                        <div class="controls">
                            <input type="text" name="nickname" data-ng-model="nickname" id="nickname" class="form-control" placeholder="Give your RFQ a nickname" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label requiredStar" for="completeBy">Complete RFQ by</label>
                    <p class="input-group">
                        <input type="text" name="completeBy" class="form-control" datepicker-popup ng-model="completeBy" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="yyyy-MM-dd" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="form-group">
                    <strong class="requiredStar">Quote type</strong>
                    <br>
                    <label class="radio-inline">
                        <input type="radio" name="quoteType" value="Budget" data-ng-model="quoteType" required>Budget
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="quoteType" value="Firm" data-ng-model="quoteType">Firm
                    </label>
                </div>
                <div class="form-group">
                    <label for="deliveryRequirements">Requirements for delivery date</label>
                    <input type="text" id="deliveryRequirements" name="deliveryRequirements" class="form-control" data-ng-model="deliveryRequirements" placeholder="Requirements for delivery date">
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <input type="text" id="notes" name="notes" class="form-control" data-ng-model="notes" placeholder="Notes">
                </div>
                <br>
                <div class="form-group">
                    <fieldset>
                        <legend>
                            <h4>Add Materials to Your RFQ</h4>
                            <h5><i>Click the "add material" button to save your material. At least one material is required.</i></h5>
                        </legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="metal">Metal</label>
                            <div class="col-md-4">
                                <select id="metal" name="metal" class="form-control" ng-model="selectedMetal">
                                    <option value="">-- select a metal --</option>
                                    <option ng-repeat="(metal, value) in data">{{ metal }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="selectedMetal && !customGrade">
                            <label class="col-md-4 control-label" for="grade-series">Grade Series</label>
                            <div class="col-md-4">
                                <select id="grade-series" name="grade-series" class="form-control" ng-model="selectedSeries">
                                    <option value="">-- select a grade series --</option>
                                    <option ng-repeat="(series, value) in data[selectedMetal]">{{ series }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="selectedSeries && !customGrade">
                            <label class="col-md-4 control-label" for="grade">Grade</label>
                            <div class="col-md-4">
                                <select id="grade" name="grade" class="form-control" ng-model="selectedGrade">
                                    <option value="">-- select a grade --</option>
                                    <option ng-repeat="grade in data[selectedMetal][selectedSeries]">{{ grade }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="customGrade">
                            <label class="col-md-4 control-label" for="custom-grade">Custom Grade</label>
                            <div class="col-md-4">
                                <input type="text" id="custom-grade" name="custom-grade" class="form-control" ng-model="selectedGrade">
                            </div>
                        </div>
                        <div class="form-group" ng-show="selectedMetal && !customGrade">
                            <h5 class="col-md-4">
                                <a ng-model="customGrade" ng-click="customGrade=true; selectedGrade=''">I don't see my grade</a>
                            </h5>
                        </div>
                        <div class="form-group" ng-show="customGrade">
                            <h5 class="col-md-4">
                                <a ng-model="customGrade" ng-click="customGrade=false; selectedGrade=''">Return to pre-defined grade selections</a>
                            </h5>
                        </div>
                        <div>
                            <h5 class="text-danger" ng-if="addMaterialError"><strong>{{ addMaterialError }}</strong></h5>
                        </div>
                        <div class="btn-toolbar">
                            <button type="button" id="addMaterial" name="addMaterial" class="btn btn-primary" ng-click="addMaterial()">Add Material</button>
                            <button type="button" class="btn btn-danger" ng-click="removeAllMaterials()">Remove All</button>
                        </div>
                    </fieldset>
                </div>
                <div class="form-group">
                    <h4>Material List</h4>
                    <h5 class="text-danger" ng-if="materialObjects.length === 0"><strong>No materials have been added. Please add at least one material.</strong></h5>
                    <table class="table" ng-if="materialObjects.length !== 0">
                        <thead>
                            <tr>
                                <th>Metal</th>
                                <th>Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="material in materialObjects">
                                <td>{{ material.metal }}</td>
                                <td>{{ material.grade }}</td>
                                <td>
                                    <button ng-click="removeMaterial(material)" class="btn-danger" type="button"><span class=" glyphicon glyphicon-trash"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <strong class="requiredStar">I would like this RFQ shared</strong>
                    <br>
                    <label class="radio-inline">
                        <input type="radio" name="privacy" value="Public" data-ng-model="privacy" required>Publicly
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="privacy" value="Private" data-ng-model="privacy">Privately
                    </label>
                    <a class="btn btn-info" id="shared-info">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                </div>
                <div class="form-group">
                    <label for="aml-tags" style="margin-bottom: 0px">
                        Approved Manufacturer List (AML)
                    </label>
                    <h5><i>Which suppliers would you like to receive your RFQ?</i></h5>
                    <tags-input id="aml-tags" class="aml-tags" name="aml-tags" ng-model="amlTags" placeholder="Type a manufacturer and press enter" replace-spaces-with-dashes="false"></tags-input>
                </div>
                <div class="form-group">
                    <input ng-click="create()" value="Submit" class="btn btn-default" ng-disabled="rfqForm.$invalid">
                </div>
                <div class="form-group">
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>
