<section data-ng-controller="RfqsController">
    <div class="page-header">
        <h1>New RFQ</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" name="rfqForm" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label requiredStar" for="completeBy">Complete RFQ by</label>
                    <div class="controls">
                        <input type="date" data-ng-model="completeBy" id="completeBy" class="form-control" placeholder="yyyy-MM-dd" required>
                    </div>
                </div>
                <div class="form-group">
                    <strong class="requiredStar">Quote type</strong>
                    <br>
                    <label class="radio-inline">
                        <input type="radio" name="quoteType" value="Budget" data-ng-model="quoteType" required>Budget
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="quoteType" value="Firm" data-ng-model="quoteType">Firm
                    </label>
                </div>
                <div class="form-group">
                    <label for="deliveryRequirements">Requirements for delivery date</label>
                    <input type="text" id="deliveryRequirements" name="deliveryRequirements" class="form-control" data-ng-model="deliveryRequirements" placeholder="Requirements for delivery date">
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <input type="text" id="notes" name="notes" class="form-control" data-ng-model="notes" placeholder="Notes">
                </div>
                <div class="form-group">
                    <h4>Material Description</h4>
                    <h5><i>Size, Shape, Diameter, Grade, Material, Etc.</i></h5>
                    <div class="col-xs-3 col-sm-2 descriptorColumn">
                        <div class="form-group">
                            <input type="text" id="materialDescriptor" name="materialDescriptor" ng-model="materialDescriptor" ng-keypress="addToDescriptionListOnEnter($event)" class="form-control" placeholder="Descriptor">
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-2 valueColumn">
                        <div class="form-group">
                            <input type="text" id="materialValue" name="materialValue" ng-model="materialValue" ng-keypress="addToDescriptionListOnEnter($event)" class="form-control" placeholder="Value">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-circle" ng-click="addToDescriptionList()"><i class="glyphicon glyphicon-plus"></i></button>
                    <div data-ng-show="descriptionError !== null" class="text-danger">
                        <br><strong data-ng-bind="descriptionError"></strong>
                    </div>
                </div>
                <div class="form-group descriptionListGroup" ng-show="materialDescriptionArray.length !== 0">
                    <div class="col-xs-8 col-sm-6 materialDescriptionItems">
                        <h5><strong>Description List</strong></h5>
                        <ul class="list-group" ng-repeat="materialDescriptionObject in materialDescriptionArray">
                            <li class="list-group-item clearfix descriptionListItem">
                                {{ materialDescriptionObject.descriptor }}:&nbsp;&nbsp;{{ materialDescriptionObject.value }}
                                <span class="pull-right">
                                    <button type="button" class="btn btn-primary" ng-click="removeFromDescriptionList(materialDescriptionObject)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <input ng-click="create()" value="Submit" class="btn btn-default" ng-disabled="rfqForm.$invalid">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
