<section data-ng-controller="RfqsController" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
    <div class="page-header">
        <h1>New RFQ</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" name="rfqForm" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label requiredStar" for="completeBy">Complete RFQ by</label>
                    <div class="controls">
                        <input type="date" data-ng-model="completeBy" id="completeBy" class="form-control" placeholder="yyyy-MM-dd" required>
                    </div>
                </div>
                <div class="form-group">
                    <strong class="requiredStar">Quote type</strong>
                    <br>
                    <label class="radio-inline">
                        <input type="radio" name="quoteType" value="Budget" data-ng-model="quoteType" required>Budget
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="quoteType" value="Firm" data-ng-model="quoteType">Firm
                    </label>
                </div>
                <div class="form-group">
                    <label for="deliveryRequirements">Requirements for delivery date</label>
                    <input type="text" id="deliveryRequirements" name="deliveryRequirements" class="form-control" data-ng-model="deliveryRequirements" placeholder="Requirements for delivery date">
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <input type="text" id="notes" name="notes" class="form-control" data-ng-model="notes" placeholder="Notes">
                </div>
                <div class="form-group">
                    <h4>Material Description</h4>
                    <h5><i>Size, Shape, Diameter, Grade, Material, Etc.</i></h5>
                    <div class="col-xs-3 no-padding-left">
                        <input type="text" id="descriptionName" name="descriptionName" ng-model="descriptionName" ng-keypress="addToDescriptionListOnEnter($event)" class="form-control" placeholder="Descriptor">
                    </div>
                    <div class="col-xs-3 no-padding-left">
                        <input type="text" id="descriptionValue" name="descriptionValue" ng-model="descriptionValue" ng-keypress="addToDescriptionListOnEnter($event)" class="form-control" placeholder="Value">
                    </div>
                    <button type="button" class="btn btn-primary btn-circle" ng-click="addToDescriptionList()"><i class="glyphicon glyphicon-plus"></i></button>
                </div>
                <div data-ng-show="descriptionError !== null" class="text-danger" style="margin-left: 15px">
                    <strong>{{ descriptionError }}</strong>
                </div>
                <table class="table form-group" style="width:50%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="descriptionItem in materialDescriptionArray">
                            <td>
                                {{ descriptionItem.name }}
                            </td>
                            <td>
                                {{ descriptionItem.value }}
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="removeDescription(descriptionItem)">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <h3>Select files</h3>
                    <div ng-show="uploader.isHTML5">
                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                        <div class="well my-drop-zone drop-box text-center" nv-file-over="" uploader="uploader" ng-click="clickFileUpload()">
                            <h4>Drag n' Drop PDF, Excel and Word Docs
                                <br>or
                                <br>Click Here to Select File</h4>
                        </div>
                    </div>
                    <input type="file" id="fileuploadButton" style="display: none" nv-file-select="" uploader="uploader" multiple />
                </div>
                <div class="form-group" style="margin-bottom: 40px">
                    <h3>Upload queue</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <div>
                            Upload progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <div class="upload-buttons">
                            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                            </button>
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                        </div>
                    </div>
                    <div class="submit-rfq">
                        <div class="text-center">
                            <input ng-click="create()" value="Submit" class="btn btn-default" ng-disabled="rfqForm.$invalid">
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
            </fieldset>
        </form>
        </div>
</section>
