<section data-ng-controller="RfqsController" data-ng-init="findOne('editRfq')">
    <div class="page-header">
        <h1>Edit RFQ</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" name="rfqForm" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <label class="control-label requiredStar" for="nickname">Nickname</label>
                        <div class="controls">
                            <input type="text" name="nickname" data-ng-model="rfq.nickname" id="nickname" class="form-control" placeholder="Give your RFQ a nickname" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <label class="control-label requiredStar" for="completeBy">Complete RFQ by</label>
                        <div class="controls">
                            <input type="date" data-ng-model="rfq.completeBy" id="completeBy" class="form-control" placeholder="yyyy-MM-dd" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <strong class="requiredStar">Quote type</strong>
                    <br>
                    <label class="radio-inline">
                        <input type="radio" name="quoteType" value="Budget" data-ng-model="rfq.quoteType">Budget
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="quoteType" value="Firm" data-ng-model="rfq.quoteType">Firm
                    </label>
                </div>
                <div class="form-group">
                    <label for="deliveryRequirements">Requirements for delivery date</label>
                    <input type="text" id="deliveryRequirements" name="deliveryRequirements" class="form-control" data-ng-model="rfq.deliveryRequirements" placeholder="Requirements for delivery date">
                </div>
                <div class="form-group">
                    <label for="notes">Notes</label>
                    <input type="text" id="notes" name="notes" class="form-control" data-ng-model="rfq.notes" placeholder="Notes">
                </div>
                <div class="form-group">
                    <strong class="requiredStar">I would like this RFQ shared:</strong>
                    <br>
                    <label class="radio-inline">
                        <input type="radio" name="privacy" value="Public" data-ng-model="rfq.privacy" required>Publically
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="privacy" value="Private" data-ng-model="rfq.privacy">Privately
                    </label>
                </div>
                <div class="form-group">
                    <label for="aml-tags">
                        Approved Manufacturer List (AML)
                    </label>
                    <tags-input id="aml-tags" class="aml-tags" name="aml-tags" ng-model="amlTags" placeholder="Type an AML and then press enter" replace-spaces-with-dashes="false"></tags-input>
                    <h5><i>Which suppliers would you like to receive your RFQ?</i></h5>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
                <div class="form-group">
                    <input ng-click="update()" value="Update" class="btn btn-default" ng-disabled="rfqForm.$invalid">
                </div>
            </fieldset>
        </form>
    </div>
</section>
