<section data-ng-controller="RfqsController" data-ng-init="find()">
    <div class="page-header">
        <h1>My RFQs</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="rfq in rfqs" data-ng-href="#!/rfqs/{{rfq._id}}" class="list-group-item">
			<h4 class="list-group-item-heading">{{ rfq.nickname.substr(0, 1).toUpperCase() + rfq.nickname.substr(1) }}</h4>
            <hr>
            <h5>Complete by <i>{{ rfq.completeBy }}</i></h5>
            <h5>Created on <i>{{ rfq.created | date:'medium' }}</i></h5>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!rfqs.$resolved || rfqs.length">
    	No RFQs yet, why don't you <a href="/#!/rfqs/create">create one</a>?
    </div>
</section>