<section data-ng-controller="RfqsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>RFQ Info</h1>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            Nickname:&nbsp; {{ rfq.nickname }}
        </li>
        <li class="list-group-item">
            Complete by:&nbsp; {{ rfq.completeBy }}
        </li>
        <li class="list-group-item">
            Quote type:&nbsp; {{ rfq.quoteType }}
        </li>
        <li class="list-group-item">
            Requirements for delivery date:&nbsp;{{ rfq.deliveryRequirements }}
            <i ng-show="!rfq.deliveryRequirements">No requirements for delivery are specified</i>
        </li>
        <li class="list-group-item">
            Notes:&nbsp; {{ rfq.notes }}
            <i ng-show="!rfq.notes">No notes are specified</i>
        </li>
        <li class="list-group-item">
            Privacy settings:&nbsp; {{ rfq.privacy }}
        </li>
        <li class="list-group-item">Approved Manufacterer List
            <ul>
                <li ng-repeat="aml in rfq.amlTags">{{ aml.text }}</li>
                <li ng-show="rfq.amlTags.length === 0"><i>No AML is specified</i></li>
            </ul>
        </li>
    </ul>
    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == rfq.user._id))">
        <a class="btn btn-primary" href="/#!/rfqs/{{rfq._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Created on
            <span data-ng-bind="rfq.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="rfq.user.displayName"></span>
        </em>
    </small>
</section>
